.model-renderer {
    width: 100%;
    height: 90vh;
    position: relative;
    perspective: 500px;
}

canvas {
    outline: none;
    cursor: pointer;
    z-index: 999;
}

.model-bg-img {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 90%;
    transform: rotateX(40deg);
    z-index: -999;
}
